<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="fas fa-leaf"></i> GreenEnergy</h5>
                <p>Connecting renewable energy producers with consumers for a sustainable future.</p>
            </div>

            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="{% url 'marketplace:listing_list' %}" class="text-white text-decoration-none">Marketplace</a></li>
                    <li><a href="{% url 'investments:projects_list' %}" class="text-white text-decoration-none">Investments</a></li>
                    <li><a href="#" class="text-white text-decoration-none">About Us</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>
                    <i class="fas fa-envelope"></i> support@greenenergy.com<br>
                    <i class="fas fa-phone"></i> +91 1234567890<br>
                    <i class="fas fa-map-marker-alt"></i> India
                </p>
                <div class="mt-3">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </div>

        <hr class="bg-white">

        <div class="text-center">
            <p>&copy; 2024 GreenEnergy. All rights reserved. | Promoting Sustainable Energy Trading</p>
        </div>
    </div>
</footer>